# ==============================
# ENV / SECRETS
# ==============================

.env
.env.*
!.env.example


# ==============================
# PYTHON
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# LOGS
# ==============================

logs/
*.log


# ==============================
# DATABASE
# ==============================

*.db
*.sqlite
*.sqlite3


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db


# ==============================
# TEMP
# ==============================

*.tmp
*.temp
*.bak